@media only screen and (min-width:992px) {

*{
    padding: 0%;
    margin: 0%;

}
.containers{
    .menu{
        display: flex;
        gap: 10px;
        border: 5px solid red;
        height: 120px;
        align-items: center;
        background-color: black;
        .menu1{
            font-size: 10px;
            border: 1px solid rgb(234, 221, 221);
            color: aliceblue;

        }
        .menu2{
            font-size: 10px;
            border: 1px solid rgb(241, 236, 236);
             color: aliceblue;

        }
        .menu3{
            font-size: 10px;
            border: 1px solid rgb(236, 232, 232);
             color: aliceblue;
        }
        .menu4{
            font-size: 10px;
            border: 1px solid rgb(233, 222, 222);
             color: aliceblue;
        }
    }
    .contain{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 50px;

    .img{
        img{
            width: 300px;
            height: 400px;
            position: relative;
            top: 50px;
            position: relative;
            left: 20px;
        }
    }
    .paragraph{
        h2{
            font-size: 15px;
        }
    }
}
}
}
@media only screen and (min-width:768px) {
    .containers{

        .menu{
            background-color: black;
            border: 5px solid red;
           
          
            .menu1{
                font-size: 10px;
            border: 1px solid rgb(245, 235, 235);
             color: rgb(237, 242, 246);
             margin-top: 10px;
             margin-left: 15px;
             margin-right: 15px;
             margin-bottom: 15px;
                
            }
            .menu2{
                font-size: 10px;
            border: 1px solid rgb(237, 230, 230);
             color: rgb(243, 245, 247);
             margin-left: 15px;
             margin-right: 15px;
            margin-bottom: 15px;
                
            }
            .menu3{
                font-size: 10px;
            border: 1px solid rgb(239, 208, 208);
             color: rgb(243, 245, 246);
             margin-left: 15px;
             margin-right: 15px;
             margin-bottom: 15px;

                
            }
            .menu4{
                font-size: 10px;
            border: 1px solid rgb(241, 231, 231);
             color: rgb(241, 242, 244);
             margin-left: 15px;
             margin-right: 15px;
              margin-bottom: 10px;
                
            }
        }
        .contain{
            .img{
                img{
                
                width: 500px;
                height: 600px;
                
                   /*margin-top: 20px;
                position: relative;
                left: 200px;*/
             
            
                
                }

            }
            .paragraph{
                
                
                h2{
                     font-size: 15px;
                }

                }
            }
        }

    }
    @media only screen and (min-width:600px) {
         .containers{
            .menu{
                background-color: black;
                border: 5px solid red;
                
                .menu1{
                    font-size: 10px;
            border: 1px solid rgb(245, 235, 235);
             color: rgb(237, 242, 246);
             margin-top: 10px;
             margin-bottom: 10px;
             margin: 10px;
            
                }
                .menu2{
                     font-size: 10px;
            border: 1px solid rgb(245, 235, 235);
             color: rgb(237, 242, 246);
             margin: 10px;
            
                }
                .menu3{ font-size: 10px;
            border: 1px solid rgb(245, 235, 235);
             color: rgb(237, 242, 246);
              margin: 10px;
            }
            .menu4{
                 font-size: 10px;
            border: 1px solid rgb(245, 235, 235);
             color: rgb(237, 242, 246);
              margin: 10px;
            
            }
            }
         }
         .contain{
            img{
                width: 500px;
                height: 700px;
                margin-top: 15px;
                /*position: relative;
                left: 50px;*/
            }

         .paragraph{
          h2{
         font-size: 15px;
         }
        }
        }
    }

